@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<!-- Main Content -->
<section class="aboutme">
    <header>
        <h2>Nunc facilisis lacus </h2>
    </header>
    <p>
        Suspendisse vitae neque venenatis, iaculis sem mollis, cursus dolor. Praesent ullamcorper mauris quis orci aliquam tempor. 
        Etiam consectetur sapien ut dolor pretium iaculis. Donec quis pellentesque sem, eget aliquet eros. Curabitur sed metus in nisi ornare 
        rhoncus nec quis neque. Quisque pretium ex vel eros convallis, ut congue felis dapibus. In viverra enim quis risus faucibus consequat 
        et nec lectus. Morbi quis egestas diam, quis elementum est. Cras quis efficitur massa. Sed purus enim, tempus a enim in, egestas laoreet est. 
        Phasellus porta ipsum ac eros luctus, quis rutrum lacus ultricies. Integer tellus lorem, lobortis at purus id, tincidunt sodales est.
    </p>
</section>

<section>
    <header class="mypast">
        <h2>Donec molestie</h2>
    </header>
    <p style="padding-bottom:0px;margin-bottom:4px;" ">
        Donec tempor nisl a gravida sagittis. Nullam eu consequat neque. Sed mattis pretium libero quis aliquam. Maecenas at porttitor diam, ac consequat nisi. 
        Nunc facilisis lacus semper, lacinia velit at, suscipit tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
        Sed tempor pretium erat, ut bibendum tellus maximus non. Donec molestie at arcu at imperdiet. Donec venenatis pharetra dictum. Mauris cursus sed nulla in 
        consequat. Fusce sit amet luctus risus. Nullam orci tortor, iaculis eu odio vel, accumsan eleifend metus. Sed eget sollicitudin nibh. Mauris lacus neque, 
        pellentesque nec elit ut, luctus facilisis tortor. Quisque porta orci quam, sed congue velit dictum ut.
    </p>
    <p>
        Sed tempor pretium erat, ut bibendum tellus maximus non. Donec molestie at arcu at imperdiet.
    </p>
</section>

<section>
    <header class="inbetween">
        <h2>Fusce sit amet</h2>
    </header>
    <p style="padding-bottom:0px;margin-bottom:4px;">
        Donec ante metus, eleifend et metus non, euismod suscipit sem. In ipsum ante, cursus eu feugiat quis, condimentum quis arcu. Donec vitae ullamcorper nunc. 
        Curabitur cursus pulvinar sapien a pretium. Quisque euismod fringilla sapien, non rhoncus purus consectetur ut. Sed tristique diam quis eros porttitor, 
        quis varius eros ullamcorper.
    </p>
    <ul style="margin-left:10px;list-style:disc;padding-bottom:0px;margin-bottom:0px;">
        <li>
            Quisque euismod fringilla sapien, non rhoncus purus consectetur ut.
        </li>
        <li>
            Donec molestie at arcu at imperdiet.
        </li>
        <li>
            Maecenas at porttitor diam, ac consequat nisi. Nunc facilisis lacus semper, lacinia velit at, suscipit tortor.
        </li>
        <li>
            SQL Server 7.0 went from identity columns migration issues to SQL 2000 with unique identifiers, SQL 2012 Express Advance with CTE expressions.
        </li>
        <li>
            Praesent ullamcorper mauris quis orci aliquam tempor. Etiam consectetur sapien ut dolor pretium iaculis.
        </li>
    </ul>
    <p style="margin-top:4px;padding-top:0px;">
        Maecenas feugiat quam vitae risus fermentum molestie. Aenean vestibulum lacus et quam dignissim, eu ullamcorper eros faucibus. 
        Morbi a orci ut enim feugiat sollicitudin ac placerat tellus. Vestibulum varius semper eros at pharetra. Nulla facilisi. Etiam ac lorem condimentum, 
        finibus libero quis, egestas neque.
    </p>
</section>

<section>
    <header class="mypresent">
        <h2>Cras quis efficitur </h2>
    </header>
    <p style="padding-bottom:0px;margin-bottom:4px;">
        Maecenas feugiat quam vitae risus fermentum molestie. Aenean vestibulum lacus et quam dignissim, eu ullamcorper eros faucibus. Morbi a orci ut enim 
        feugiat sollicitudin ac placerat tellus. Vestibulum varius semper eros at pharetra. Nulla facilisi. Etiam ac lorem condimentum, finibus libero quis, 
        egestas neque.
    </p>
    <ul style="margin-left:10px;list-style:disc;padding-bottom:0px;margin-bottom:0px;">
        <li>
            Quisque euismod fringilla sapien, non rhoncus purus consectetur ut.
        </li>
        <li>
            Donec molestie at arcu at imperdiet.
        </li>
        <li>
            Maecenas at porttitor diam, ac consequat nisi. Nunc facilisis lacus semper, lacinia velit at, suscipit tortor.
        </li>
        <li>
            SQL Server 7.0 went from identity columns migration issues to SQL 2000 with unique identifiers, SQL 2012 Express Advance with CTE expressions.
        </li>
        <li>
            Praesent ullamcorper mauris quis orci aliquam tempor. Etiam consectetur sapien ut dolor pretium iaculis.
        </li>
    </ul>
    <p style="margin-top:4px;padding-top:0px;">
        Aenean vestibulum lacus et quam dignissim, eu ullamcorper eros faucibus. Morbi a orci ut enim
        feugiat sollicitudin ac placerat tellus.
    </p>
</section>

<section>
    <header class="myfuture">
        <h2>Sed eget sollicitudin nibh</h2>
    </header>
    <p style="padding-bottom:0px;margin-bottom:4px;">
        Integer pretium placerat nisi vitae tincidunt. Praesent vitae nisi gravida nunc imperdiet consequat in porta libero. 
        In at nulla in lorem tincidunt aliquam. Duis ac nisl lorem. Vivamus magna leo, mollis vel finibus at, accumsan non magna:
    </p>
    <ul style="margin-left:10px;list-style:disc;padding-bottom:0px;margin-bottom:0px;">
        <li>
            Quisque euismod fringilla sapien, non rhoncus purus consectetur ut.
        </li>
        <li>
            Donec molestie at arcu at imperdiet.
        </li>
        <li>
            Maecenas at porttitor diam, ac consequat nisi. Nunc facilisis lacus semper, lacinia velit at, suscipit tortor.
        </li>
        <li>
            SQL Server 7.0 went from identity columns migration issues to SQL 2000 with unique identifiers, SQL 2012 Express Advance with CTE expressions.
        </li>
        <li>
            Praesent ullamcorper mauris quis orci aliquam tempor. Etiam consectetur sapien ut dolor pretium iaculis.
        </li>
    </ul>
</section>
